<tr>
  <td><%= writing.id %></td>
  <td><%= link_to truncate(writing.task_description, length: 40), writing %></td>
  <td><%= time_ago_in_words writing.created_at %></td>
  <td class="text-right">
    <a href="#" class=""></a>
    <%= link_to "Get correcting", new_request_path(writing.id), class: 'btn btn-primary btn-sm' %>
  </td>
</tr>