<!-- Page Heading -->
<div class="row">
  <div class="col-lg-10">
    <h1 class="page-header">
      Your writings
    </h1>
  </div>
  <div class="col-lg-2 text-right">
    <%= link_to "New Writing", tasks_suggest_path, class: 'btn btn-sm btn-primary' %>  </div>
  </div>
<!-- /.row -->

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Task Type</th>
      <th>Create At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @writings %>
  </tbody>
</table>
