<h1>Your writing</h1>

<div class="text-right mt-4 mb-4">
  <%= link_to "New Writing", task_suggest_path, class: 'btn btn-primary' %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Task Type</th>
      <th>Create At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>625</td>
      <td>Task 2</td>
      <td>Jul 24, 2017</td>
      <td class="text-right"><a href="#" class="btn btn-primary btn-sm">send request</a></td>
    </tr>
  </tbody>
</table>