<h1>Dashboard</h1>

<div class="container-narrow">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-dashboard card-dashboard-1">
        <div class="card-block">
          <div class="card-dashboard-heading">You have: </div>
          <div class="card-dashboard-num"><span>15</span>Writings</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-dashboard card-dashboard-2">
        <div class="card-block">
          <div class="card-dashboard-heading">You have: </div>
          <div class="card-dashboard-num"><span>5</span>Messages</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-dashboard card-dashboard-3">
        <div class="card-block">
          <div class="card-dashboard-heading">You follows: </div>
          <div class="card-dashboard-num"><span>10</span>People</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart mt-4">
    <div id="student_chart" style="width:100%; height:400px;">
      
    </div>
    <script>
      var writings = JSON.parse('<%= @student_graph.to_json.html_safe %>');
    </script>
  </div>
</div>