<!-- Page Heading -->
<div class="row">
    <div class="col-sm-8">
        <h1 class="page-header">
            Inbox
        </h1>
    </div>
    <div class="col-sm-4 text-right">
      <a href="<%= new_message_path %>" class="btn btn-primary btn-sm">Compose</a>
    </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-sm-12">
    <!-- <h2>Striped Rows</h2> -->
    <div class="table-responsive" id="messages-list">
      <%= render "messages_table" %>
    </div>
  </div>
</div>
<!-- /.row -->

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function(e) {
      // console.log(e.target.nodeName);
      if (e.target.nodeName!='I'){
        window.location = $(this).data("href");
      }
    });
  });
</script>
