<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Nationality</th>
      <th>Price</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
    <%= render "follows/following_teacher_row", teacher: teacher, is_following: current_user.isFollowing(teacher.id) %>
    <% end %>
  </tbody>
</table>
