.navbar-brand{
  font-weight: 700;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;

}

.nav-home{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  color: #fff;
  a{
    color: #fff;
  }
}

.navbar-nav{
  align-items: center;
  .nav-link{
    font-weight: 400;
    font-family: $font-heading;
  }
  .nav-item{
    .btn{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

header{
  .btn{
    padding: 7px 20px;
  }
  color: #fff;
  a{
    color: #fff;
  }

  &.header-student{
    .bg-faded{
      background-color: #31b0d5;
    }
  }

  &.header-teacher{
    .bg-faded{
      background-color: #2E79A3;
    }
  }
}