.nav.nav-sidebar{
  flex-direction: column;
  .nav-item{
    &.active{
      .nav-link{
        background-color: #2E79A3;
        color: #fff;
      }
    }
  }

  .nav-link{
    color: #343434;
    padding: 15px 20px;
    &:hover{
      background-color: #eee;
    }
  }
}
