// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message {
  font-size: 1.5em;
}

#user {
  font-size: 1.5em;
}

#time {
  font-size: 1.5em;
}

.line-of-stars  {

   width: 100%; 
   text-align: center; 
   
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 






