<% if current_user.is_admin? %>
  <h1>Denied Corrections</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Teacher</th>
        <th>Student</th>
        <th>Last updated</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @corrections %>
    </tbody>
  </table>
<% else %>
  <h1>Your corrections</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>From</th>
        <th>Task Number</th>
        <th>When</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @corrections %>
    </tbody>
  </table>
<% end %>
