<footer>
  <div class="container">
    <div class="footer-inner">
      <div class="copy">
        &copy; 2017 EMT team. All Rights Reserved.
      </div>
      <div class="links">
        <ul class="nav">
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="#">About Us</a></li>
          <li>
            <%= link_to 'Log In', new_user_session_path, class:"nav-link", :remote => true, "data-toggle" => "modal", "data-target" => "login" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>